<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <form class="container" [formGroup]="loginForm">
            <mat-form-field>
                <input matInput formControlName="username" placeholder="Username" required>
                <mat-error *ngIf="loginForm.get('username')?.invalid">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="loginForm.get('password')?.invalid">Password is required</mat-error>
            </mat-form-field>
        </form>
        <p *ngIf="showAlert" class="alertBox">{{alertText}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div mat-dialog-content class="sign-up">Sign Up!</div>
    <button (click)="onSubmit()" type="submit" [disabled]="!loginForm.valid">Submit</button>
</mat-dialog-actions>